{% extends "base/index.html" %}

{% block content %}
<div class="main_content">
  <ul>
    <li>date: {{devotion.date}}</li>
    <li>verse: {{devotion.verse}}</li>
    <li>content: {{devotion.content}}</li>
  </ul>

  <form action="{% url 'single_devotion' devotion.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE" />
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <a role="button" href="{% url 'editdevotion' devotion.id 'edit'%}" class="btn btn-primary">Edit</a>

  {% endblock %}
</div>
