{% extends "base/index.html" %}
{% block content %}
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body" id="card-body">
    <form hx-post="{% url 'subscribe' %}" hx-swap="card-body">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name ">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input name="email" type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
